body {
    font-family: "Gudea", sans-serif;
    margin: 0;
    background-color: #202020;
    color:white;
}
header {
    background-color: rgba(0,0,0,.5);
    margin: 0px, 0px, 0px, 0px;
    height: 56px;
}
h1 {
    text-align: center;
    font-size: 42px;
    margin: 0;
    line-height: 56px;
}
span {
    color: #DAF7A6;
}
h3 {
    text-align: center;
    margin-top: 40px;
}
.excuse-box {
    border: 2px solid #6495ED;
    height: 200px;
    border-radius: 5px;
    margin: 70px 30% 55px 30%;
    text-align: center;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.excuse-box p {
    margin-left: 10px;
    margin-right: 10px;
}
.selects {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.custom-select {
    position: relative;
}
.custom-select select {
    display: none;
}
.select-selected {
    background-color: dodgerblue;
}
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
button {
    background-color: #e7e7e7;
    color:black;
    border: 2px solid #e7e7e7;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 6px;
    transition-duration: 0.4s;
}
button:hover {
    background-color:#202020;
    color:white;
}
button:active {
    background-color:white;
}
